.dog-card {
  background-color: white;
  border-radius: 12px;
  padding: 16px;
  width: 280px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  
}

.dog-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
}

.dog-card h2 {
  margin-top: 12px;
  color: #7c3aed;
}

.dog-card p {
  margin-top: 8px;
}

.details-button {
  display: inline-block;
  margin-top: 14px;
  padding: 10px 14px;
  border-radius: 8px;
  background-color: #7c3aed;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.details-button:hover {
  background-color: #5b21b6;
}